<style>
  /* change cover_img in config.yml */
  .jumbotron {
    background-color: var(--main-background-color) !important;
    background-image: url('/assets/img/{{site.hero_cover_img}}');
    text-align: center;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  }

  .jumbotron-btns {
    display: block;
    margin-top: 50px;
  }

  .jumbotron-heading,
  .lead {
    color: #fff;
  }
</style>

<!-- home hero section -->
<div class="jumbotron">
  <img class="author-profile-img" src="{{site.url}}{{site.baseurl}}/assets/img/{{site.author_logo}}" />
  <p class="jumbotron-heading">Salut, bienvenue sur HIAT !</p>

  <p class="lead" id="typewriteText"></p>
  <span>
    {%- include github_star_button.html -%}
    {%- include github_fork_button.html -%}
  </span>
</div>
<table width="70%" align="center">
  <tr>
      <td>
          <embed src="https://wakatime.com/share/@IronTUX/102db8b3-0199-4f85-9cfe-c1e3c954e935.svg"></embed>
      </td>
      <td>
          <embed src="https://wakatime.com/share/@IronTUX/8dcc7137-0b8e-4a70-9c98-8c228eb75a11.svg"></embed>
      </td>
      <td>
          <embed src="https://wakatime.com/share/@IronTUX/c963a324-a203-4c35-b004-314a072981d7.svg"></embed>
      </td>
  </tr>
</table>