<style>
  /* change cover_img in config.yml */
  .jumbotron {
    background-color: var(--main-background-color) !important;
    background-image: url('/assets/img/{{site.hero_cover_img}}');
    text-align: center;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  }

  .jumbotron-btns {
    display: block;
    margin-top: 50px;
  }

  .jumbotron-heading,
  .lead {
    color: #fff;
  }
</style>

<!-- home hero section -->
<div class="jumbotron">
  <img class="author-profile-img" src="{{site.url}}{{site.baseurl}}/assets/img/{{site.author_logo}}" />
  <p class="jumbotron-heading">Salut, bienvenue sur HIAT !</p>

  <p class="lead" id="typewriteText"></p>
  <span>
    {%- include github_star_button.html -%}
    {%- include github_fork_button.html -%}
  </span>
</div>
<table width="100%" align="center">
  <tr>
      <td>
          <embed src="https://wakatime.com/share/@IronTUX/6c6190c9-9f8e-4a08-803b-9595c496709c.svg"></embed>
      </td>
      <td>
          <embed src="https://wakatime.com/share/@IronTUX/e6270aa6-4390-4fa2-8a56-e6181fe29179.svg"></embed>
      </td>
      <td>
          <embed src="https://wakatime.com/share/@IronTUX/dbfd3dc6-f6e8-4288-b581-d4744832dfd9.svg"></embed>
      </td>
  </tr>
</table>