<style>
  /* change cover_img in config.yml */
  .jumbotron {
    background-color: var(--main-background-color) !important;
    background-image: url('/assets/img/{{site.hero_cover_img}}');
    text-align: center;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  }

  .jumbotron-btns {
    display: block;
    margin-top: 50px;
  }

  .jumbotron-heading,
  .lead {
    color: #fff;
  }
</style>

<!-- home hero section -->
<div class="jumbotron">
  <img class="author-profile-img" src="{{site.url}}{{site.baseurl}}/assets/img/{{site.author_logo}}" />
  <p class="jumbotron-heading">Salut, bienvenue sur HIAT !</p>

  <p class="lead" id="typewriteText"></p>
  <span>
    {%- include github_star_button.html -%}
    {%- include github_fork_button.html -%}
  </span>
</div>
<table width="100%" align="center">
  <tr>
      <td>
          <embed src="https://wakatime.com/share/@IronTUX/275c3a41-214a-491b-b916-d18880d17877.svg"></embed>
      </td>
      <td>
          <embed src="https://wakatime.com/share/@IronTUX/9c3639d8-6cd7-4b7f-8a4c-a0b260f15702.svg"></embed>
      </td>
      <td>
          <embed src="https://wakatime.com/share/@IronTUX/b9e5fbea-795d-48a6-aec4-351a8f34f289.svg"></embed>
      </td>
  </tr>
</table>